<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hajur_Ko_Car_Rental</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hajur_Ko_Car_Rental.styles.css" asp-append-version="true" />
</head>
<body>

   @* <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Dot net 6 authentication</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="/Dashboard/Display">Dashboard</a></li>
                @if (User.IsInRole("admin"))
                {
                    <li><a href="/Admin/Display">Admin Page</a></li>
                }
                @if (!string.IsNullOrEmpty(User.Identity.Name))
                {
                    <li><a href="/UserAuthentication/ChangePassword">ChangePassword</a></li>
                    <li><a href="/UserAuthentication/Logout">Logout</a></li>
                }
            </ul>
        </div>
    </nav>*@
  
    <div class="container">
            @RenderBody()
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
