@{
    string username = User.Identity.Name;
}
<h1>This is admin page</h1>
<h1>Welcome @username</h1>
<button>  <a class="text-alert" href="/Dashboard/Registration">Add User</a> </button>
<div>
    @Html.Partial("ViewAllUsers")
</div>

