@{
    string username = User.Identity.Name;
}
<div>

    @if (User.IsInRole("admin"))
    {
        @await Html.PartialAsync("admin")
    }
    else if (User.IsInRole("staff"))
    {
        @await Html.PartialAsync("staff")
    }
    else if (User.IsInRole("customer"))
    {
        @await Html.PartialAsync("customer")
    }
 
</div>